.sidebar__nav{
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e37222;
  overflow-x: hidden;
  padding-top: 20x;
}

.sidebar__nav a{
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
  color:rgb(255, 255, 255);
  display: block;
  text-align: justify;
}

.sidebar__nav i{
  color:rgb(250, 250, 250);
  font-weight: 700;
  background-color: blue;
  border-radius: 10px;
}

.sidebar__nav i{
  margin-right: 5px;
}

.content__main {
margin-left: 160px;
font-size: 22px;
padding: 0 10px;
}

.content__main p{
text-align: justify;
}

body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
background-color: #f0f0f0;
}

.content__main {
  margin-left: 160px;
  font-size: 22px;
  padding: 0 10px;
}

.content__main p{
  text-align: justify;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.my-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.my-button:hover {
  background-color: #0056b3;
}

.button-container {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ccd6c6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.my-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  justify-content: center;
  border-radius: 12px;
}

.my-button:hover {
  background-color: #0056b3;
}
.tittle{
  color: #f0f0f0;
  background-color: #007bff;
  padding: 10px;
  margin: 10px;
  font-size: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.search-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0a0101;
  display: flex;
  justify-content: left;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(214, 61, 61, 0.1);
  background: #373737;
  color:#f0f0f0;
  z-index: 1000;
}

#searchInput {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}


#results {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

div a {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #007bff;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-decoration: none;

}

.leidos a {
  color:#ffff;

}

.leidos :hover{
  background-color: #0056b3;

}

.autores :hover{
  background-color: #0056b3;

}
.recientes :hover{
  background-color: #0056b3;

}

.eliminar :hover {
  background-color: #0056b3;
}